body {
  background: #f7f7f7;
}

* {
  margin: 0;
  padding: 0;
}

.root {
  max-width: 700px;
  display: grid;
  gap: 0.2em;
  margin: 0 auto;

  form {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 0px 6px;
    margin-top: 4px;

    input {
      border: 1px solid #999;
      border-radius: 3px;
      font: inherit;
      padding: 0.5em;
      outline: none;
      width: 100%;

      &:focus {
        outline: auto rgb(88, 100, 116);
      }
    }

    button {
      background: rgb(93, 104, 119);
      color: #fff;
      font: inherit;
      border: none;
      border-radius: 4px;
      outline: none;
      padding: 0.5em 1.5em;
      &:active {
        background-color: rgb(0, 150, 125);
      }
    }
  }

  .no_result {
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
  }
}
