.root {
  max-width: 700px;
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  border: 2px solid rgb(230, 230, 230);
  padding: 4px;
  background-color: rgb(240, 240, 240);
}
