.root {
  background-color: white;

  .bg {
    .btn {
      background-color: rgb(18, 116, 111);
      color: white;
      width: 80px;
    }
  }
  form {
    display: flex;
    justify-content: center;
    margin-left: 6px;
    .button {
      width: 30px;
    }
  }
}
