.root {
  width: 100vw;
  position: relative;
  .link {
    text-decoration: none;
  }

  .title {
    color: white;
    position: absolute;
    bottom: 0;
    padding: 0 12px;
  }
  .date {
    position: absolute;
    top: 0;
    left: 12px;
    color: white;
  }
}
