.root {
  .stock_info {
    width: 240px;

    .stock_info_right {
      .current_price {
        color: rgb(88, 88, 88);
      }
      .plus_percent {
        background-color: rgb(0, 187, 0);
        color: rgb(228, 228, 228);
        width: 72px;
        border-radius: 4px;
        margin-left: 8px;
      }
      .minus_percent {
        background-color: rgb(253, 7, 7);
        color: rgb(228, 228, 228);
        width: 72px;
        border-radius: 4px;
        margin-left: 8px;
      }
    }
  }
}
