.container {
  background-color: rgb(243, 243, 243);
}

.container > h2 {
  background-color: rgb(255, 255, 255);
  padding: 4px 16px;
  border-radius: 30px;
  margin: 6px 0;
}

.news-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(243, 243, 243);
}
