body {
  background: #f7f7f7;
}

* {
  margin: 0;
  padding: 0;
}

.app {
  max-width: 700px;
  display: grid;
  gap: 1em;
  margin: 0 auto;
}

form {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1em;
}

button {
  background: rgb(93, 104, 119);
  color: #fff;
  font: inherit;
  border: none;
  border-radius: 3px;
  outline: none;
  padding: 0.5em 1.5em;
}

button:active {
  background-color: #05b;
}

input {
  border: 1px solid #999;
  border-radius: 3px;
  font: inherit;
  padding: 0.5em;
  outline: none;
  width: 100%;
}

input:focus {
  outline: auto rgb(88, 100, 116);
}

.item {
  padding: 1em;
  list-style-type: none;
  border-radius: 6px;
  margin-bottom: 1em;
  background: #fff;
  box-shadow: 0px 2px 6px 2px #0002;
}

.item > h2 > a {
  text-decoration: none;
  color: rgb(57, 72, 92);
}

.item .title {
  font-size: 100%;
}

.item .description {
  margin: 1em 0;
}

.item .thumbnail {
  float: right;
  box-shadow: 0px 1px 1px 1px #0002;
  border-radius: 12px;
  margin-left: 1em;
  margin-bottom: 1em;
}

.item .meta {
  font-size: 80%;
  font-weight: bold;
  color: #555;
}

.item .provider-thumbnail {
  margin-right: 0.5em;
}

.item .meta > *:not(:last-child) {
  margin-right: 2em;
}
