.container {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  padding: 12px;
  font-size: 18px;
  background-color: rgba(196, 196, 196, 0.1);
  border-radius: 12px;
}
.list_title {
  display: flex;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  padding-bottom: 2px;
}

.list_box {
  display: flex;
  padding: 3px 6px;
}

.symbol_list {
  width: 100%;
}

.name_list {
  width: 100%;
  text-align: left;
}

.name {
  font-size: 10px;
}
.ather_list {
  width: 100%;
  text-align: right;
}

.dayHigh {
  width: 100%;
  text-align: right;
}

.dayLow {
  width: 100%;
  text-align: right;
}

.price_up {
  color: rgb(2, 180, 2);
}

.price_down {
  color: rgb(255, 44, 44);
}

@media screen and (max-width: 500px) {
  /* 480px以下に適用されるCSS（スマホ用） */
  .dayHigh {
    display: none;
  }
  .dayLow {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .name_list {
    display: none;
  }
}
