.root {
  max-width: 700px;
  margin: 10px auto 0 auto;

  .wrapper {
    .header {
      border-bottom: 2px solid #326779;
      i {
        font-size: 15px;
      }
      .provider {
        p {
          margin-left: 10px;
        }

        .avatar {
          width: 40px;
          height: 40px;
          img {
            width: 40px;
            height: 40px;
          }
        }
      }
      .date_and_category {
        i {
          margin-right: 2px;
          font-size: 16px;
        }
        .bmicon {
          color: grey;
          cursor: pointer;
        }
        .active_bmicon {
          color: rgb(231, 231, 38);
        }

        @media screen and (max-width: 500px) {
          i {
            font-size: 12px;
          }
        }
      }
    }

    .title {
      color: #002531;
      border-bottom: 2px solid #326779;
    }

    .desc_and_img {
      img {
        border-radius: 12px;
      }
    }
    .more_button_box {
      border-bottom: 2px solid #326779;
      .more_button {
        background-color: #326779;
        width: 300px;
        margin-bottom: 10px;

        a {
          color: white;
          text-decoration: none;
          font-weight: 500;
        }
      }
    }
    .back_button {
      background-color: white;
      color: #255c70;
      font-weight: 500;
    }
  }
}
