.root {
  .paper {
    .wrapper {
      .title {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        border-bottom: 1px solid #326779;
      }
      .sub {
        .btn {
          width: 150px;
          height: 30;
          border: 1px solid #326779;

          a {
            text-decoration: none;
            color: #326779;
          }
        }
        @media screen and (max-width: 420px) {
          .btn {
            width: 100px;
            height: 30;
          }
        }
      }
    }
  }
}
